body {
    background-color: #191919;
    font: 100% Helvetica Neue, sans-serif;
}

.shadowed {
    box-shadow: 0px 5px 10px #111;
}

.outlined {
    border-width: 8px;
    border-style: double;
    border-color: #30363b;
    border-radius: 500px;
}

.full-height {
    height: 100%;
}

.body-bg-color-dark {
    background-color: #181818;
}

.nav-item:hover, .nav-item:focus {
    cursor: pointer
}

.jumbotron-header {
    background: -webkit-linear-gradient(#35FF24, #0E8603);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron-button {
    color: white;
    font-weight: bold;
    background-color: #25BB00;
    border: 0;
    border-radius: 500px;
}

.jumbotron-button:hover, .jumbotron-button:focus {
    outline: 0;
    background-color: #1c8a00;
    box-shadow: 0px 5px 10px #111;
}

.fab-button {
    width: 60px;
    height: 60px;
    line-height: normal;
    color: #222;
    font-weight: bold;
    font-size: 1.75em;
    background-color: whitesmoke;
    border: none;
    border-radius: 500px;
    box-shadow: 0px 5px 5px #111;
}

.fab-button:hover, .fab-button:focus {
    color: #111;
    outline: 0;
    background-color: #AAA;
    box-shadow: 0px 5px 15px #111;
}

.card-icon-bi {
    font-size: 2.4em;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}