body {
  background-color: #191919;
  font: 100% Helvetica Neue, sans-serif;
  position: relative;
}

.shadowed {
  box-shadow: 0px 5px 10px #111;
}

.outlined {
  border-width: 8px;
  border-style: double;
  border-color: #30363b;
  border-radius: 500px;
}

.full-height {
  height: 100%;
}

.bs-bg-dark {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.navbar-shadowed {
  box-shadow: 0px 3px 5px rgba(17, 17, 17, 0.4);
}

.nav-item:hover,
.nav-item:focus {
  cursor: pointer;
}

.jumbotron-header {
  background: -webkit-linear-gradient(#35ff24, #0e8603);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron-button {
  color: white;
  font-weight: bold;
  background-color: #25bb00;
  border: 0;
  border-radius: 500px;
}

.jumbotron-button:hover,
.jumbotron-button:focus {
  outline: 0;
  background-color: #1c8a00;
  box-shadow: 0px 5px 10px #111;
}

.fab-button {
  width: 60px;
  height: 60px;
  line-height: normal;
  color: #222;
  font-weight: bold;
  font-size: 1.75em;
  background-color: whitesmoke;
  border: none;
  border-radius: 500px;
  box-shadow: 0px 5px 5px #111;
}

.fab-button:hover,
.fab-button:focus {
  color: #111;
  outline: 0;
  background-color: #aaa;
  box-shadow: 0px 5px 15px #111;
}

.card-icon-bi {
  font-size: 2.4em;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#21ad00, #146400);
  background-clip: content-box;
}

.hide-horizontal-borders {
  border-left: none;
  border-right: none;
}
