body {
    background-color: #181818;
    font: 100% Helvetica Neue, sans-serif;
    height: 300vh;
}

.card {
    box-shadow: 0px 5px 10px #111;
}

.lighter-bg-color {
    background-color: #222;
}

.jumbotron-header {
    background: -webkit-linear-gradient(#35FF24, #0E8603);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron-button {
    color: white;
    font-weight: bold;
    background-color: #25BB00;
    border-radius: 500px;
}

.jumbotron-button:hover, .jumbotron-button:focus {
    outline: 0;
    background-color: #1c8a00;
    box-shadow: 0px 5px 10px #111;
}

.fab-button {
    width: 69px;
    height: 69px;
    line-height: normal;
    color: #333;
    font-weight: bold;
    background-color: whitesmoke;
    border-radius: 500px;
    box-shadow: 0px 5px 5px #111;
}

.fab-button:hover, .fab-button:focus {
    color: #111;
    outline: 0;
    background-color: #AAA;
    box-shadow: 0px 5px 15px #111;
}