@use 'themes/theme-library'

%flex-full
    display: flex
    width: 100%

header
    display: flex
    align-items: center

    height: 75px

    padding: 0 1%

    background-color: var(--themed-primary-color)

    -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1) // Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
    -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1) // Firefox 3.5 - 3.6
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1) // Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5

    nav.nav-left
        @extend %flex-full
        justify-content: start

    nav.nav-right
        @extend %flex-full
        justify-content: end

    .nav-item
        height: 100%

        margin: 0 3%

        font-size: 1rem
        font-weight: bold
        color: #fff